h1
{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 387px;
    left: 776px;
    bottom: -441px;
}

.cat1
{
    position: relative;
    width: 41px;
    left: 732px;
    bottom: -341px;
}

.cat2
{
    position: relative;
    width: 41px;
    left: 1034px;
    bottom: -341px;
}

.cat3
{
    position: relative;
    width: 41px;
    left: 811px;
    bottom: -308px;
}